__pycache__/
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.\ /

# data
checkpoint/
data/

# evolution
seed*/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# environment files
venv/
venv*
.env