__pycache__/
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.\ /

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# data
data/

# evolution
seed*/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# environment files
venv/
venv*
.env